@import 'basic.css';

/* MAIN */

.main{
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: start;
    padding: var(--spacing-68) 0;

}

/* SEARCHER */

.searcher__content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
    /* padding-top: var(--spacing-68); */
}

.searcher__item{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
}

.searcher__title{
    font-size: var(--font-large);
    font-family: var(--base-font);
    font-weight: 500;
    text-transform: uppercase;
}

.searcher__category{
    border-radius: .375rem;
    
}

.searcher__input{
    border-radius: .375rem;
    border: .125rem solid var(--dark-solid);
}

.big__input{
    padding: var(--spacing-8);
}

.small__input{
    padding: calc(var(--spacing-8) / 2);
    width: 3.75rem
}


.searcher__price{
    display: flex;
    gap: var(--spacing-8);
    align-items: center;

}

.searcher__text{
    font-size: var(--font-small);
    font-family: var(--base-font);
    font-weight: 500;
    text-transform: uppercase;
}

.searcher__filter{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: var(--spacing-16);
}

.searcher__check{
    display: flex;
    align-items: center;
    gap: calc(var(--spacing-8) / 2);
}

/* PAGINATION */

.pagination{
    margin-top: var(--spacing-36);
}

.pagination_items{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: var(--spacing-8);
}

/* .pagination_item{

    display: flex;
} */

.pagination_link{
    display: flex;
    align-items: center;
    justify-content: center;
    border: .0625rem solid var(--dark-bg-solid);
    border-radius: .25rem;
    color: var(--dark-solid);
    font-family: var(--base-font);
    font-size: var(--font-small);
    font-weight: 700;
    transition: all .3s ease-in-out;
    width: 5rem;
    height: 5rem;
    
}

.pagination_link:hover{
    background-color: var(--primary-900);
}

.active_link{
    border-color: var(--primary-solid);
    color: var(--primary-solid);
}

.active_link:hover{
    border-color: var(--primary-solid);
    color: var(--dark-bg-solid);
}

.off_link{
    background-color: rgba(145, 158, 171, 1);
    cursor: not-allowed; 
    pointer-events: none;
}



