<footer class="footer">
    <nav class="navbar container">
        <ul class="navbar__menu vertical">
            <li class="navbar__link">
                <a href="/shop">Shop</a>
            </li>
            <li class="navbar__link">
                <a href="/auth/register">Registrarse</a>
            </li>
            <li class="navbar__link">
                <a href="/auth/login">Log in</a>
            </li>
            <li class="navbar__link">
                <a href="/contact">Contacto</a>
            </li>
        </ul>
        <picture><img src="/images/branding/isotype.svg" alt=""></picture>
    </nav>
    <p class="footer__copy">
        All rights reserved 2023 - Funkoshop &copy;
    </p>

</footer>