<%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %>   
        <main class="container form login">
            <h2 class="form__title">Crea tu cuenta</h2>
            <h3 class="form__subtitle">
                Completa el formulario para ser parte del mundo de los Funkos
            </h3>
            
            <form class="login__form" action="/auth/register" method="POST" enctype="application/x-www-form-urlencoded">
                <div class="form__box--flex">
                    <label class="form__label" for="nombre">Nombre:</label>
                    <input class="form__input form__text" type="text" name="nombre" id="nombre" placeholder="John" required>
                </div>
                <div class="form__box--flex">
                    <label class="form__label" for="apellido">Apellido:</label>
                    <input class="form__input form__text" type="text" name="apellido" id="apellido" placeholder="Doe" required>
                </div>                
                <div class="form__box--flex">
                    <label class="form__label" for="email">Email:</label>
                    <input class="form__input form__text" type="email" name="email" id="email" placeholder="johndoe@correo.com" required>
                </div>
                <div class="form__box--flex">
                    <label class="form__label" for="name">Contraseña:</label>
                    <input class="form__input form__text" type="password" name="password" id="password" placeholder="Escribe tu contraseña..." required>
                </div>

                <div class="form__box--flex">
                    <label class="form__label" for="password_repeat">Repetir contraseña:</label>
                    <input class="form__input form__text" type="password" name="password_repeat" id="password_repeat" placeholder="Escribe tu contraseña..." required>
                </div>
                
                <div class="form__flex">
                    <input class="form__btn form__btn-color" type="submit" value="Registrar">
                    <div class="form__remember">
                        <input type="checkbox" id="confirmoLectura" name="confirmoLectura" required>
                        <label class="form__text" for="confirmoLectura">Acepto</label>
                        <a class="form__text form__text--link" href="">Términos y condiciones</a>
                    </div>
                </div>
            </form>
        </main>

        <%- include('../partials/footer') %>

        <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
    </body>
</html>