
<ul class="<% if (title != "Shop") { %> glide__slides <% } %> slider__items">
    <li class="slider__item <% if (title != "Shop") { %> glide__slide <% } %>">
        <article class="card-item">
            <a href="" class="card-item__link">
                <picture class="card-item__cover">
                <span class="card-item__tag">
                    Nuevo
                </span>
                    <img src="/images/star-wars/trooper-1.webp" alt="Figura coleccionable Funko de un Stormtrooper" class="card-item__img--front">
                    <img src="/images/star-wars/trooper-box.webp" alt="Figura coleccionable Funko de un Stormtrooper en caja" class="card-item__img--back">
                </picture>
                <div class="card-item__content">
                    <p class="card-item__license">Star Wars</p>
                    <h4 class="card-item__name">Stormtrooper lightsaber</h4>
                    <p class="card-item__price">$ 1799,99.-</p>
                    <p class="card-item__promotion">3 Cuotas sin interés</p>
                </div>
            </a>
        </article>
    </li>
    <li class="slider__item <% if (title != "Shop") { %> glide__slide <% } %> ">
        <article class="card-item">
            <a href="" class="card-item__link">
                <picture class="card-item__cover">
                <span class="card-item__tag">
                    Nuevo
                </span>
                    <img src="/images/pokemon/pidgeotto-1.webp" alt="Figura coleccionable Funko de Pidgeotto de la serie Pokemon" class="card-item__img--front">
                    <img src="/images/pokemon/pidgeotto-box.webp" alt="Figura coleccionable Funko de Pidgeotto de la serie Pokemon en caja" class="card-item__img--back">
                </picture>
                <div class="card-item__content">
                    <p class="card-item__license">Pokemon</p>
                    <h4 class="card-item__name">Pidgeotto</h4>
                    <p class="card-item__price">$ 1799,99.-</p>
                    <p class="card-item__promotion">3 Cuotas sin interés</p>
                </div>
            </a>
        </article>
    </li>
    <li  class="slider__item <% if (title != "Shop") { %> glide__slide <% } %>">
        <article class="card-item">
            <a href="" class="card-item__link">
                <picture class="card-item__cover">
                <span class="card-item__tag">
                    Nuevo
                </span>
                    <img src="/images/harry-potter/luna-1.webp" alt="Figura coleccionable Funko de Luna Lovegood de la saga Harry Potter" class="card-item__img--front">
                    <img src="/images/harry-potter/luna-box.webp" alt="Figura coleccionable Funko de Luna Lovegood de la saga Harry Potter en caja" class="card-item__img--back">
                </picture>
                <div class="card-item__content">
                    <p class="card-item__license">HARRY POTTER</p>
                    <h4 class="card-item__name">LUNA LOVEGOOD LION MASK</h4>
                    <p class="card-item__price">$ 1799,99.-</p>
                    <p class="card-item__promotion">3 CUOTAS SIN INTERÉS</p>
                </div>
            </a>
        </article>
    </li>
</ul>